@import '../../../assets/scss_styles/global-imports';

.arrowDown {
   @include size(40px, 40px);
   border: 1px solid $color_fff;
   border-radius: 50%;
   text-align: center;
   line-height: 40px;
   color: $color_fff;
   margin-bottom: 30px;
   text-shadow: 1px 1px 5px $color_fff;

   &:hover {
      box-shadow: 0px 0px 5px 1px $color_fff;
   }
}